<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>
<body>
  <div>
    <h1>Todo App for CS 279</h1>
    <form action="/add" method="post"> <!--A form for adding todos -->
      <div>
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Enter Todo...">
        <br>
        <button type="submit">Add</button>

      </div>
    </form>

    {% for todo in todo_list %} <!-- use jinja2 template language to access data and run a for-loop-->
        <p>{{ todo.id }} | {{ todo.title }}</p> <!-- display data -->
        <a href="/delete/{{ todo.id }}">Check Off</a> <!--id can be passed as part of the redirect url-->

    {% endfor %}
  </div>
  
</body>
</html>